*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;

    background-image:url("fundo.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;
}

header{
    background:rgba(17,26,61,.9);
    padding:25px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:#4ecdc4;
    text-decoration:none;
    margin:0 15px;
}

.evolucao{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

    padding:80px 10%;
}

.card{
    width:500px;

    background:rgba(17,26,61,.85);

    backdrop-filter:blur(8px);

    padding:30px;

    border-radius:25px;

    box-shadow:0 0 20px rgba(0,0,0,.4);

    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    color:#4ecdc4;
    margin-bottom:20px;
}

.card p{
    line-height:1.8;
}

footer{
    text-align:center;
    padding:20px;
    background:rgba(17,26,61,.9);
}