*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;

    background-image: url("https://i.pinimg.com/736x/f0/92/5a/f0925a8958ac8ea048b98f828a087882.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

header{
    background: #F2C2CF;
    padding:25px;
    text-align:center;
}

header h1{
    color:#ffffff;
    margin-bottom:20px;
    text-shadow:2px 2px 8px rgba(0,0,0,0.3);
}

nav{
    margin-top:15px;
}

nav a{
    color:#ffffff;
    text-decoration:none;
    margin:0 15px;
    transition:0.3s;
}

nav a:hover{
    color:#F27EBE;
}

.evolucao{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:80px 10%;
}

.card{
    width:500px;
    background:rgb(255, 255, 255);
    backdrop-filter:blur(8px);
    padding:30px;
    border-radius:25px;
    box-shadow:0 0 20px rgba(0,0,0,.4);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    color:#F27EBE;
    margin-bottom:20px;
    text-shadow:1px 1px 5px rgba(242,126,190,0.3);
}

.card p{
    line-height:1.8;
}

/* =========================
   TABLET (768px - 1023px)
========================= */

@media (min-width:768px) and (max-width:1023px){

    .evolucao{
        padding:60px 5%;
    }

    .card{
        width:80%;
    }
}


@media (max-width:767px){

    header h1{
        font-size:1.8rem;
    }

    nav{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .evolucao{
        padding:40px 20px;
    }

    .card{
        width:100%;
    }

    .card h2{
        font-size:1.4rem;
    }

    .card p{
        font-size:0.95rem;
    }
}