*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;

    background-image: url("https://i.pinimg.com/736x/f0/92/5a/f0925a8958ac8ea048b98f828a087882.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:rgb(0, 0, 0);
}

header{
    background: #F2C2CF;
    padding:25px;
    text-align:center;
}

header h1{
    color:#ffffff;
    margin-bottom:20px;
    text-shadow:2px 2px 8px rgba(0,0,0,0.3);
}
nav{
    margin-top:15px;
}

nav a{
    color: white;
    text-decoration:none;
    margin:0 15px;
}

nav a:hover {
    color: #F27EBE;
}
.objetivos{
    display:flex;
    justify-content:center;
    align-items:center;

    min-height:70vh;

    padding:50px;
}

.objetivo-card{
    max-width:900px;

    background:rgb(255, 255, 255);

    backdrop-filter:blur(8px);

    padding:40px;

    border-radius:30px;

    text-align:center;

    box-shadow:0 0 20px rgba(0,0,0,.4);
}

.objetivo-card h2{
    color:#000000;
    margin-bottom:20px;
}

.objetivo-card p{
    line-height:1.8;
    margin-bottom:30px;
}

.skills{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.skills span{
    background:#F27EBE;
    color:#ffffff;

    padding:10px 20px;

    border-radius:30px;

    font-weight:600;
}

/* =========================
   TABLET (768px - 1023px)
========================= */

@media (min-width:768px) and (max-width:1023px){

    .objetivo-card{
        width:90%;
    }
}


@media (max-width:767px){

    header h1{
        font-size:1.8rem;
    }

    nav{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .objetivos{
        padding:20px;
    }

    .objetivo-card{
        width:100%;
        padding:25px;
    }

    .objetivo-card h2{
        font-size:1.5rem;
    }

    .objetivo-card p{
        font-size:0.95rem;
    }

    .skills{
        gap:10px;
    }

    .skills span{
        padding:8px 15px;
        font-size:14px;
    }
}